body {
  background-color: #470000;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.input-item {
  width: 400px;

  label {
    display: flex;
    align-items: baseline;
  }

  input {
    margin-left: 4px;
    flex: 1;
  }

  &.valid input {
    border-color: green;
  }
  &.invalid input {
    border-color: red;
  }
}
